* {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    outline: 0px solid green;
    box-sizing: border-box;
}

#web-title {
    color: red;
    text-align: center;
    display: block;
    margin: auto;
    border: 1px double grey;
}

.page-title {
    text-align: left;
}

.inline-list-head {
    text-align: center;
    padding-left: 0px;
}

.inline-list {
    display: inline-block;
    padding: 5px 10px;
    border: 2px double blue;
    margin: auto;
}

.text-and-image {
    display: inline;
}